<head>
<!--Windows Metro UI for WEB
  
  Screen: 
  1024
  1280
  1366
  1600

  Supported:
  Chrome 38>
  Firefox =
  Ie =
  Opera =
-->
<meta charset="utf-8">
<title>.:Home Services:.</title>
<link href="~/Content/css/homestyle.css" rel=stylesheet>
<script src="https://use.fontawesome.com/68fee44817.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
</head>

<body>
<!--Vídeo Play Background-->
<video autoplay id="bgvid" loop>
<source src="~/Content/vd/bakvideo1.mp4" type="video/mp4">
</video>
<header>
		<h1>Start</h1>
    <h2>Wilson</h2>
    <h3>Falcão</h3>
    <img  class="userfoto" src="http://www.belasmensagens.com.br/wp-content/uploads/2014/03/declaracao-de-amor.jpg">
</header>

<div class="container">
     <ul>
     <!-- Block 1-->
     <li class="layer expand-width" data-depth="1.00">
      <div class="divblock1">
       <!-- Área 1 -->

       <a style=" cursor:default !important;"data-toggle="modal" href="#opencall" class="wide redgay">
	   <i class="fa fa-database"></i>
	   <h3>Open Call</h3>
	   </a>

       <a href="javascript://" class="wide magenta">
	   <i class="fa fa-commenting"></i>
	   <h3>Ação Técnica</h3>
	   </a>

       <a href="javascript://" class="wide yellow">
	   <i class="fa fa-check-square"></i>
	   <h3>Inventário</h3>
	   </a>

       <a href="javascript://" class="wide blue">
	   <i class="fa fa-folder-open"></i>
	   <h3>Auditory</h3>
	   </a>

       <a href="javascript://" class="wide wide-medio blue">
	   <i class="fa fa-battery-full"></i>
	   <h3>Monitor Called</h3>
	   </a>

       <a href="javascript://" class="wide wide-grande">
       <img style="width: 123%;position: relative;" src="http://2.bp.blogspot.com/_epvOlUrG1zk/SmzdZGc7CLI/AAAAAAAAAHk/H5_JQxZ3540/s400/caco.bmp">
	   <h3>Wilson Falcão</h3>
	   </a>

       <a href="javascript://" class="wide wide-medio lime">
	   <i class="fa fa-cubes"></i>
	   <h3>Hardware Movement</h3></a>
        
       <a href="javascript://" class="wide wide-medio blue">
	   <i class="fa fa-cogs"></i>
	   <h3>Object Movement</h3>
	   </a>
      
      </div>
    </li>
   	  
    <!-- Block 2 -->
     <li class="layer expand-width" data-depth="1.00">
      <div class="divblock2">
        <a href="javascript://" class="wide wide-medio redgay">
	   <i class="fa fa-envelope"></i>
	   <h3>E-mail</h3>
	   </a>

       <a href="javascript://" class="wide wide-medio lime">
	   <i class="fa fa-bell"></i>
	   <h3>Notificação</h3>
	   </a>

        <a href="javascript://" class="wide wide-grande2 blue">
	   </a>
      </div>
    </li>

   	  <!-- <li class="layer expand-width" data-depth="1.00">
     Block 2   <div class="divblock3">
      	<a href="#"><img class="aspect" id="bigimgsize" src="https://lh5.googleusercontent.com/egthw12StIRIp8Am2fZ51JpfOuqpe1G7h9F3Fqx9EQ=w300-h150-no"></a>
      	<a href="https://www.nytimes.com/" target="_blank"><img class="aspect" src="https://lh5.googleusercontent.com/-4Off2uBdJB0/VFnrV5h8POI/AAAAAAAADpw/B1rXmVZyyjk/s150-no/Times.png"></a>
        <a href="http://www.foxnews.com/" target="_blank"><img class="aspect" src="https://lh3.googleusercontent.com/-dX9vI0qGh_I/VFnrSmAxriI/AAAAAAAADsk/I4fy3-d0IsM/s150-no/FoxNews.png"></a>
        
        <a href="#"><img class="aspect" src="https://lh4.googleusercontent.com/-kTA5RNzBtOs/VFnrccK96tI/AAAAAAAADrk/qUw_WHSducM/s150-no/rss.png"></a>
        <a href="#"><img class="aspect" src="https://lh5.googleusercontent.com/-tnFM2OmGAog/VFnrQkj30jI/AAAAAAAADoY/saPM87xfeAg/s150-no/Bookmarks.png"></a>
      </div>
    </li> -->

     <!-- Block 3 -->
     <li class="layer expand-width" data-depth="1.00">
      <div class="divblock4">
       
       <a href="javascript://" class="wide redgay">
	   <i class="fa fa-database"></i>
	   <h3>Open Call</h3>
	   </a>

       <a href="javascript://" class="wide magenta">
	   <i class="fa fa-commenting"></i>
	   <h3>Ação Técnica</h3>
	   </a>

       <a href="javascript://" class="wide yellow">
	   <i class="fa fa-check-square"></i>
	   <h3>Inventário</h3>
	   </a>

          <a href="javascript://" class="wide redgay">
	   <i class="fa fa-database"></i>
	   <h3>Open Call</h3>
	   </a>

       <a href="javascript://" class="wide magenta">
	   <i class="fa fa-commenting"></i>
	   <h3>Ação Técnica</h3>
	   </a>

       <a href="javascript://" class="wide yellow">
	   <i class="fa fa-check-square"></i>
	   <h3>Inventário</h3>
	   </a>
          <a href="javascript://" class="wide redgay">
	   <i class="fa fa-database"></i>
	   <h3>Open Call</h3>
	   </a>

       <a href="javascript://" class="wide magenta">
	   <i class="fa fa-commenting"></i>
	   <h3>Ação Técnica</h3>
	   </a>

       <a href="javascript://" class="wide yellow">
	   <i class="fa fa-check-square"></i>
	   <h3>Inventário</h3>
	   </a>
          <a href="javascript://" class="wide redgay">
	   <i class="fa fa-database"></i>
	   <h3>Open Call</h3>
	   </a>

       <a href="javascript://" class="wide magenta">
	   <i class="fa fa-commenting"></i>
	   <h3>Ação Técnica</h3>
	   </a>

       <a href="javascript://" class="wide yellow">
	   <i class="fa fa-check-square"></i>
	   <h3>Inventário</h3>
	   </a>
      </div>
    </li>

    <!-- Block 4 -->
    <li class="layer expand-width" data-depth="1.00">
        <div class="divblock5">
          
        </div>
    </li>

     </ul>
        </div>

<!--Modal Open Call-->
<div class="section-modal modal fade" id="opencall" tabindex="-1" role="dialog" aria-hidden="true">
@Html.Partial("~/Views/Home/action_view/a_opencall.cshtml")
</div>




</body>




<script type="text/javascript">
    window.addEventListener("keydown", function (e) {
        // space and arrow keys
        if ([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);
    // when .modal-wide opened, set content-body height based on browser height; 200 is appx height of modal padding, modal title and button bar
    $(".modal-wide").on("show.bs.modal", function () {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });


</script>
