@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

html, body{
  margin:0px; padding:0px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	font-family: Arial;
	font-size: 12px;
    max-width:1920px;
    max-height:1080px;
}

#hero1{
 background:url(/../img/imagens/background.jpg);
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	
	z-index: 1;
	opacity: 0.7;
}

.header{
	position:relative;
	top: 260px;
	left: 350px;
	z-index: 2;
}

.header img{
    width:140%;
}

.header div{
	float: left;
    margin-top:-40px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: rgb(0,92,164) !important;
}

.login{
	position: relative;
	top: 160px;
	left: 500px;
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 1;
}

.login span {
        color:#fff;
        font-size:15px;
    }
.login input[type=text]{
	width: 70%;
	height: 50px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 70%;
	height: 50px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.foot{
    position: absolute;
	top: calc(90% - 75px);
	left: calc(1% - 1px);
	height: 40px;
    width: 94%;
}
.foot div{
    float: right;
	color:White;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	font-weight: 200;
}
.font span{
    float: left;
}

@media (max-width:400px) {
   .header{
	position:relative;
	top: 180px;
	left: 100px;
	z-index: 2;
}
    .login{
	position: relative;
	top: 190px;
	left: -20px;
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 1;
}
    .foot{
    position: absolute;
	top: 440px;
	height: 40px;
    width: 94%;
}
}