<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moradapeninsula.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moradapeninsula.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>moradapeninsula</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$moradapeninsula</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="cond_peninsulaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=br-cdbr-azure-south-b.cloudapp.net;Initial Catalog=cond_peninsula;Persist Security Info=True;User ID=b726ee5dd48654;Password=2cfcb1ab" Name="server=br-cdbr-azure-south-b.cloudapp.net;user id=b726ee5dd48654;password=2cfcb1ab;persistsecurityinfo=True;database=cond_peninsula" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcApplication4.Models.cond_peninsulaEntities, MvcApplication4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cond_peninsulaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=MySql.Data.MySqlClient;provider connection string="server=br-cdbr-azure-south-b.cloudapp.net;user id=b726ee5dd48654;password=2cfcb1ab;persistsecurityinfo=True;database=cond_peninsula"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>